<%- include("../common/header", { title: title, user: user }) %>

<!-- Page heading -->
<table width="100%">
  <tr>
    <td>
      <h2>Liked Songs</h2>
        <form action="/liked-songs/add" method="GET">
          <button type="submit">Add a liked song</button>
        </form>
    </td>
  </tr>
</table>
<hr>

<!-- Error message -->
<% if (error) { %>
  <p><%= error %></p>
<% } %>

<!-- Message when there are no liked songs -->
<% if (!likedSongs || likedSongs.length === 0) { %>
  <p>No liked songs found.</p>
<% } %>

<!-- Liked songs table -->
<!-- Each liked song is shown in its own detail table -->
<% if (likedSongs && likedSongs.length > 0) { %>
  <% for (const likedSong of likedSongs) { %>
    <table width="50%" border="1">
      <tr>
        <th style="width: 140px; text-align: left;">Song</th>
        <td><%= likedSong.songTitle %></td>
      </tr>
      <tr>
        <th style="width: 140px; text-align: left;">Artist</th>
        <td><%= likedSong.artist %></td>
      </tr>
      <tr>
        <th style="width: 140px; text-align: left;">Album</th>
        <td><%= likedSong.album %></td>
      </tr>
      <tr>
        <th style="width: 140px; text-align: left;">Genre</th>
        <td><%= likedSong.genre %></td>
      </tr>
      <tr>
        <th style="width: 140px; text-align: left;">Playlist</th>
        <td><%= likedSong.playlistName %></td>
      </tr>
      <tr>
        <th style="width: 140px; text-align: left;">Note</th>
        <td><%= likedSong.note %></td>
      </tr>
      <tr>
        <th style="width: 140px; text-align: left;">Created</th>
        <td><%= likedSong.createdAt.toLocaleString() %></td>
      </tr>
      <tr>
        <th style="width: 140px; text-align: left;">Action</th>
        <td>
          <form action="/liked-songs/edit" method="GET" style="display: inline-block;">
            <input type="hidden" name="likedSongId" value="<%= likedSong._id %>">
            <button type="submit" style="width: 55px;">Edit</button>
          </form>
          <form action="/liked-songs/delete" method="POST" style="display: inline-block;">
            <input type="hidden" name="likedSongId" value="<%= likedSong._id %>">
            <button type="submit" onclick="return confirm('Are you sure you want to delete this?');">Delete</button>
          </form>
        </td>
      </tr>
    </table>
    <br>
  <% } %>
<% } %>

</main>
</body>
</html>
