<%- include("common/header", { title: title, user: user }) %>

<!-- Page heading -->
<h2>Add Playlist</h2>

<% if (error) { %>
  <p><%= error %></p>
<% } %>

<!-- Add playlist form -->
<!-- Submitting this form sends a POST request to /playlists/add -->
<form action="/playlists/add" method="POST">
  <label for="name">Playlist Name</label>
  <br>
  <input id="name" name="name" type="text" value="<%= formData.name %>">
  <br><br>

  <label for="description">Description</label>
  <br>
  <textarea id="description" name="description" rows="4"><%= formData.description %></textarea>
  <br><br>

  <label for="genre">Genre</label>
  <br>
  <!--Making dropdown for genres-->
  <select id="genre" name="genre">
    <option value="" disabled <%= !formData.genre ? "selected" : "" %>>--Select a Genre--</option>

    <% genres.forEach(function(g) { %> 
      <option value="<%= g %>" <%= formData.genre === g ? "selected" : '' %>>
        <%= g %>
      </option>
    <% }); %>
  </select>
  <br><br>
  <button type="submit" >Save Playlist</button>
</form>

</main>
</body>
</html>
