<%- include("common/header", { title: title }) %>

<!-- Page heading -->
<h2>Add Playlist</h2>

<!-- Error message -->
<% if (error) { %>
<!-- class error is for the CSS in the common header page -->
  <p class="error"><%= error %></p>
<% } %>

<!-- Add playlist form -->
<form action="/playlists/add" method="POST">
  <label for="name">Playlist Name</label>
  <input id="name" name="name" type="text" value="<%= formData.name %>">

  <label for="description">Description</label>
  <textarea id="description" name="description" rows="4"><%= formData.description %></textarea>

  <label for="genre">Genre</label>
  <!--Making dropdown for genres-->
  <select id="genre" name="genre">
    <option value="" disabled <%= !formData.genre ? "selected" : "" %>>--Select a Genre--</option>

    <% genres.forEach(function(g) { %> 
      <option value="<%= g %>" <%= formData.genre === g ? "selected" : '' %>>
        <%= g %>
      </option>
    <% }); %>
  </select>

  <button type="submit">Save Playlist</button>
</form>

</main>
</body>
</html>
