<%- include("common/header", { title: title, user: user }) %>

<!-- Page heading -->
<h1>All Playlists</h1>
<br>

<p><a href="/playlists/add">Create a new playlist</a></p>
<form action="/playlists" method="GET">
  <p><strong>Sort playlists</strong></p>
  <select id='sortType' name = "sortType">
    <option value = "" <%= !sortType ? "selected" : "" %>>Sort Type</option>
    <option value = "A-Z" <%= sortType === "A-Z" ? "selected" : "" %>>A-Z</option>
    <option value = "Z-A" <%= sortType === "Z-A" ? "selected" : "" %>>Z-A</option>
  </select>
  <button type="submit">Sort</button>
</form>
<br>
<hr>
<br>

<!-- Error message -->
<% if (error) { %>
  <p><%= error %></p>
<% } %>

<!-- Message when there are no playlists -->
<% if (!playlists || playlists.length === 0) { %>
  <p>No playlists found.</p>
<% } %>

<!-- Playlist -->

<!-- Getting the playlists from listPlaylists in controller -->
<!-- Each playlist is displayed as its own small table -->
<% if (playlists && playlists.length > 0) { %>
  <% for (const playlist of playlists) { %>
    <!-- Playlist Name Row -->
    <table width="100%" border="1">
        <td colspan="2">
          <!-- Playlist Title -->
          <h2>
            <a href="/playlists/view?id=<%= playlist._id %>"><%= playlist.name %></a>
          </h2>
          <br>

          <p><a href="/playlists/edit?playlistId=<%= playlist._id %>">Edit Playlist</a></p>
          <form action="/playlists/delete" method="POST">
            <input type="hidden" name="playlistId" value="<%= playlist._id %>">
            <button type="submit">Delete Playlist</button>
          </form>
        </td>
      </tr>

      <!-- Adding Description Row -->
      <tr>
        <td width="20%"><strong>Description:</strong></td>
        <td><%= playlist.description %></td>
      </tr>

      <!-- Adding Create Date Row -->
      <!-- toLocalString() converts the raw date into a human-readable format based on local settings -->
      <tr>
        <td><strong>Created:</strong></td>
        <td><%= playlist.createdAt.toLocaleString() %></td>
      </tr>
    </table>
    <br><br>
  <% } %>
<% } %>



</main>
</body>
</html>
