<%- include("common/header", { title: title, user: user }) %>

<!-- Error message -->
<% if (error) { %>
  <p><%= error %></p>
<% } %>

<!-- Back link if playlist is missing -->
<% if (!playlist) { %>
  <p><a href="/playlists">Back to playlists</a></p>
<% } %>

<!-- Playlist details -->
<!-- This page shows one playlist together with all songs linked to it -->
<% if (playlist) { %>
  <h2><%= playlist.name %></h2>
  <br>

  <form action="/playlists/edit" method="GET">
    <input type="hidden" name="playlistId" value="<%= playlist._id %>">
    <button type="submit">
      <img src="/images/edit.png" alt="Edit" width="20">
    </button>
  </form>
  <br>

  <form action="/playlists/delete" method="POST">
    <!-- We have to use the hidden variable so that when we process the post request, we are able to get the id  -->
    <!-- MongoDB automatically creates a field called _id for every document, so we will use that to get the unique ID of that document -->
    <input type="hidden" name="playlistId" value="<%= playlist._id %>">
    <button type="submit">
      <img src="/images/delete.png" alt="Delete" width="20">
    </button>
  </form>
  <br>
  <p><strong>Description:</strong> <%= playlist.description %></p>
  <p><strong>Created:</strong> <%= playlist.createdAt.toLocaleString() %></p>

   <!-- Horizontal line separating playlist from songs -->
  <hr>
  
  <h3>Songs</h3>
  <p><a href="/songs/add?playlistId=<%= playlist._id %>">Add Song</a></p>


  <!-- Message when there are no songs -->
  <% if (!songs || songs.length === 0) { %>
    <% if (searchTerm) { %>
      <p>No matching songs found.</p>
    <% } else { %>
      <p>No songs added yet.</p>
    <% } %>
  <% } %>

  <form action="/playlists/view" method="GET">
    <input type="hidden" name="id" value="<%= playlist._id %>">
    <label for="search">Search for a song:</label>
    <br>
    <input type="text" id="search" name="search" value="<%= searchTerm %>" placeholder="Search song title">
    <br><br>
    <button type="submit">Search</button><br><br>
  </form>


  <% if (songs && songs.length > 0) { %>
    <table width="100%" border="1">
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Genre</th>
        <th>Added</th>
        <th>Action</th>
      </tr>

      <% for (const song of songs) { %>
        <tr align="center">
          <td><%= song.title %></td>
          <td><%= song.artist %></td>
          <td><%= song.album %></td>
          <td><%= song.genre %></td>
          <td><%= song.createdAt.toLocaleString() %></td>
          <td>
            <a href="/songs/view?id=<%= song._id %>">View</a>
            <br>
            <a href="/songs/edit?songId=<%= song._id %>">Edit</a>
            <br>
            <a href="/reviews/add?songId=<%= song._id %>">Add Review</a>
            <br>
            <form action="/songs/delete" method="POST">
              <input type="hidden" name="songId" value="<%= song._id %>">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      <% } %>
    </table>
  <% } %>
<% } %>

</main>
</body>
</html>
