<%- include("common/header", { title: title, user: user }) %>

<!-- Page heading -->
<table width="100%">
  <tr>
    <td>
      <h1>All Tags</h1>
    </td>
    <td align="right">
      <a href="/tags/add">
        <button type="button">Add a tag</button>
      </a>
    </td>
  </tr>
</table>
<hr>

<!-- Error message -->
<% if (error) { %>
  <p><%= error %></p>
<% } %>

<!-- Message when there are no tags -->
<% if (!tags || tags.length === 0) { %>
  <p>No tags found.</p>
<% } %>

<!-- Tags table -->
<!-- Each row shows one tag and the playlist that tag is linked to -->
<% if (tags && tags.length > 0) { %>
  <table width="100%" border="1">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Playlist</th>
      <th>Created</th>
      <th>Action</th>
    </tr>

    <% for (const tag of tags) { %>
      <tr align="center">
        <td><%= tag.name %></td>
        <td><%= tag.description %></td>
        <td><%= tag.playlistName %></td>
        <td><%= tag.createdAt.toLocaleString() %></td>
        <td>
          <a href="/tags/edit?tagId=<%= tag._id %>">Edit</a>
          <br>
          <form action="/tags/delete" method="POST">
            <input type="hidden" name="tagId" value="<%= tag._id %>">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% } %>
  </table>
<% } %>

</main>
</body>
</html>
